.Header-container {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #f2f4f5;
  justify-content: center;
  align-items: center;
}
.Header-container .header-container-left img {
  width: 60px;
  height: auto;
  padding: 10px;
}
.Header-container .header-container-right {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  gap: 20px;
  align-items: center;
}
.hero-parent .hero-child {
  width: 100%;
  display: flex;
}
.hero-parent .hero-child .Sidebar-right-top .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero-child .Sidebar-right-top {
  width: 100%;
  padding: 10px;
}
.hero-child .Sidebar-right-top .Content-left input {
  border: 2px solid rgb(239, 233, 233);
  border-radius: 5px;
  width: 200px;
  height: 36px;
}
.hero-child .Sidebar-right-top .Content-left input::placeholder {
  padding: 10px;
}
.hero-child .Sidebar-right-top .Content-left label {
  font-size: 30px;
  font-weight: bold;
}
.hero-child .Sidebar-right-top .content-right .buttons {
  text-align: right;
  width: 500px;
}
.hero-child .Sidebar-right-top .content-right .Button-1 button {
  height: 38px;
  width: 130px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(34, 139, 230);
  color: white;
  font-weight: bold;
}
.hero-child .Sidebar-right-top .content-right .buttons .Button-1 .item{
  text-decoration: none;
  color: #B3B5BD;
}
.hero-child .Sidebar-right-top .content-right .Button-1 button:hover {
  background-color: rgb(28, 126, 214);
  cursor: pointer;
}
.hero-child .Sidebar-right-top .content-right .Button-2 button {
  height: 38px;
  width: 100px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(34, 139, 230);
  color: white;
  font-weight: bold;
}
.hero-child .Sidebar-right-top .content-right .Button-2 button:hover {
  background-color: rgb(28, 126, 214);
  cursor: pointer;
}
.hero-parent .hero-child .table-box {
  width: 100%;
  height: 260px;
  margin-top: 2rem;
  border: 1px solid #c4c2c2;
}
.hero-parent .hero-child .table-box thead {
  font-size: 15px;
}
.hero-parent .hero-child .table-box table {
  width: 100%;
}
.hero-parent .hero-child .table-box table .Table-head {
  display: flex;
  gap: 0;
  font-size: 15px;
}
.hero-parent .hero-child .table-box table .table-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
}
.hero-parent .hero-child .table-body table .table-body p {
  color: #e9ecef;
}
.hero-parent .hero-child table .no-records {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  color: #64696e;
  font-size: 14px;
}
.hero-parent .hero-child table .table-body .icon-text i {
  display: flex;
  justify-content: center;
  color: #9ea0a2;
}
.hero-parent .hero-child table .table-body .icon-text p {
  font-size: 13px;
}
